@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Basic Formats ------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* Navigation ------------------------- */

nav ul {
    list-style: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0 5px 0 5px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #fafafa;
}

nav li {
    font-size: 1.2em;
}

/* Opening Page ------------------------- */

.header {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}

.opening {
    height: 100vh;

    /* The background image is not the final version! */
    background: url(../images/z_pole1.JPG) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Centering vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* ./Centering  */
    position: relative;
}

.header-wrap {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.first-line {
    margin-bottom: 0;
}

.second-line {
    margin-top: 0;
}

.header span {
    font-style: italic;
}

/* About Me ------------------------- */

.aboutme-wrap {
    background-color: #e8e8e8;
}

.aboutme {
    padding: 25px 25px 50px 25px;
}

.aboutme a {
    text-decoration: none;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* F.A.Q.s ------------------------- */

.faqs {
    padding-bottom: 25px;
    width: 95%;
    padding-left: 2%;
}

.faqs-wrap {
    padding-top: 25px;
}

.faqs ul {
    list-style: none;
    padding: 0 10px 0 10px;
}

.faqs-question {
    font-style: italic;
    font-weight: 600;
    padding-bottom: 1px;
}

.faqs-answer {
    padding-bottom: 10px;
    text-align: justify;
}


/* Contact Me / Form ------------------------- */

.contact-wrap {
    background-color: #e8e8e8;
    padding-bottom: 15px;
    padding-top: 20px;
}

.contactme {
    text-align: center;
    margin: 10px;
    padding-top: 35px;
}

.contactme span {
    font-weight: bold;
    background-color: yellow;
}

.forminput {
    font-family: "Roboto", sans-serif;
    display: block;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

.contact-form {
    margin: auto;
    margin-top: 50px;
    width: 92%;
}

.btn {
    border: 1px solid lightgray;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: #4a4a4f;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* Footer ------------------------- */

.footer-wrap {
    padding: 20px 0 15px 0;
    margin: 0;
    background-color: #4a4a4f;
    color: #fafafa;
}

.footer-list {
    list-style: none;
    margin: auto;
    padding: 0;
}

.footer ul li {
    display: inline-block;
}

.footer-list li a i {
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #fafafa;
    text-decoration: none;
}

.footer-divider {
    border-bottom: 1px solid #fafafa;
    width: 20vw;
    margin: 0 auto 5px auto;
}

.footer-wrap p {
    margin-top: 0;
}

.copyright p {
    margin: 0;
}

/* ------------------------- @Media Queries */

/* ------------------------- Tablet */

@media (min-width: 768px) {

    /* ------------------ Navigation Bar */
    
    /* ------------------ Opening Page */
    
    .header-wrap {
        width: 75%;    
    }
    
    /* ------------------ About Me */
    
    .aboutme {
        margin-left: 11%;
        margin-right: 11%;
    }
    
    /* ------------------ F.A.Q.s */
    
    .faqs {
       width: 80%;
       margin-left: 10%;
       margin-right: 10%;
    } 

    /* ------------------ Contact / Form */
    
    .contactme {
        padding: 35px 12%;    
    }
    
    .contact-wrap {
        padding-bottom: 25px;
    }
    
    form {
        width: 70%;
        margin: auto;
    }
    
}

/* ------------------------- Desktop */

@media (min-width: 992px) {

    /* ------------------ Navigation Bar */
    
    .navigation {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    nav ul {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 0 5px 0 5px;
        transition: all 0.3s ease-in-out;
    }

    nav li {
        line-height: 35px;
        height: 35px;
        display: inline-block;
        margin-left: 3.5%;
        padding: 0;
    }

    nav a:hover {
        text-decoration: none;
        background-color: #fafafa;
        color: #4a4a4f;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    /* ------------------- Opening page */
    
    .header-wrap {
        margin-top: -80px;
        width: 60%;
        border-radius: 15px;
    }

    .header-wrap p {
        display: inline-block;
    }

    /* --------- Contact Me / Form */

    .contact-wrap {
        padding-left: 12%;    
    }
    
    .contactme {
        display: inline-block;
        width: 25vw;
        padding-right: 0;
        padding-left: 0;
        padding-top: 12%;
        text-align: center;
        vertical-align: top;
    }
    
    .contact-form {
        display: inline-block;
        width: 60%;
        padding-left: 20px;
        margin: 25px 0 25px 25px;
    }

    .forminput {
        font-family: "Roboto", sans-serif;
        display: block;
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 90%;
        line-height: 18px;
        font-size: 16px;
    }
    
    .form {
        margin: 0;
    }

    /* ------------------------ Footer */
    
    .footer-list li a i {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 7px;
        color: #fafafa;
    }
    
    .btn {
        margin-left: 20%;
        transition: all 1s ease-in-out;
    }
    
    .btn:hover {
        background-color: #d12c34;
        border: 1px solid #c3d12c;
        color: #c3d12c;
        transition: all 1s ease-in-out;
    }
}